@Styles.Render("~/Content/css");
@Scripts.Render("~/bundles/modernizr");
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular");
<script src="~/Scripts/Servicos/CursoFaculdade.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-app="MyApp" ng-controller="CursoController">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" ng-click="pesquisarButton()">Pesquisar</button>
    </div>

    <div>
        {{Mensagem}}
    </div>

    <div>
        {{pesquisar}}
    </div>
</div>


