
@{
    ViewBag.Title = "Pesquisar";
}

<h2>Pesquisar</h2>

<body ng-app="MyApp" ng-controller="CursoController">

    <div>
        {{Mensagem}}
    </div>

    <div>
        {{pesquisateste}}
    </div>

</body>
